#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

#modal-content {
  position: absolute;
  background-color: white;
  border-radius: 12px;
  animation-name: slideup;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  z-index: 100;
}

#modal-content > a  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#modal-content > span  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@keyframes slideup {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 50vh;
  }
}
