
.App {
  display: flex;
  flex-direction: column;

  position: relative;
  text-align: center;
  z-index: 10;

  /* margin: auto; */
  margin-top: 5%;
}
.submit-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h1{
  color: pink;
}
input[type="file"] {
    display: none;
}
.input-wrap{
  width: 100%;
}
.custom-file-input {
    background-color: rgba(204, 204, 204, .3);

    border: 1px solid rgb(173, 173, 173);
    color: rgb(173, 173, 173);

    border-radius:  5em;
    box-shadow: 7px 5px 7px 5px rgba(0,0,0,0.4),
            4px 4px 5px 2px rgba(0,0,0,0.3) inset;

    margin: 50px;

    display: inline-block;
    padding: 6px 12px;
    width: 33%;
    height: 40px;

    cursor: pointer;

    transition: 0.5s;
}
.custom-file-input:hover {
  border: 1px solid #ccc;
  color: #ccc;
  box-shadow: 15px 10px 12px 5px rgba(0,0,0,0.4),
            4px 4px 5px 2px rgba(0,0,0,0.3) inset;
}

.error-box{
  position: absolute;
  border-radius:  5em;
  top: calc(80%);
  border: 1px solid rgba(0,0,0, 0);
  background-color: rgba(204, 204, 204, .0);
  height: 0;
  color: rgb(90, 0, 0, 0);
  font-size: 0;
  transition: 1s ease-in-out;
}
.error-box > p{
  padding: 0px 50px;
}
#upload{
  display: inline-block;
  position: absolute;

  top: calc(80%);
  font-size: 5em;
  padding: 0;

  outline: none;
  border: none;
  background: none;
  cursor: pointer;

  color: #000;

  transition: 0.5s;
}
#download {
  padding: 100px;
  font-size: 5em;

  outline: none;
  border: none;

  background: none;
  cursor: pointer;

  color: #000;

  transition: 0.5s;
}
#download:hover,
#upload:hover:enabled{
  color: rgb(255, 255, 255);
  filter: drop-shadow(0.35rem 0.35rem 0.2rem rgba(0, 0, 0, 0.7))
}
#upload:disabled{
  color: rgb(38,38,38);
  cursor: default;
}
svg{
  display: inline-block;
  vertical-align: middle;
  margin-left:auto;
  margin-right:auto;
}
svg path{
fill: linear-gradient(
130deg
,#ff7a18,#af002d 41.07%,#319197 76.05%);
}
.hidden{
  border: 1px solid rgba(0,0,0, 1);
  background-color: rgba(204, 204, 204, .3);
  box-shadow: 15px 10px 12px 5px rgba(0,0,0,0.4),
            4px 4px 5px 2px rgba(0,0,0,0.3) inset;
  height: calc(40%);
  font-size: 17px;
  text-align: center;
  color: rgb(90, 0, 0, 1);
}
.divs{
  display: grid;
  place-items: center;
  margin-top: 100px;
}
